body{
    background: url(https://avatars.mds.yandex.net/i?id=69ffda4e9f607032f569ac9c511ac71a949a7252-6888117-images-thumbs&n=13)
}

a{
    display: block;
    margin:  auto;
    font-size: 80px;
    color: #010000;

}